---
title: Assignment 1
permalink: index
---
<%- include ('../partials/header.ejs') %>

    <div class="container">
  
        <div class="col-md-12">
          <%- content %>
        </div>
       
    </div>


<%- include ('../partials/footer.ejs') %>

