---
layout: layouts/default.ejs
title: Home
permalink: /
---

    <h1><%= title %></h1>
 <div class="row">


    <div class="col-3">
        <h2 class="mt-4">Assignment 1</h2>

        
            <ul class="list-group">
                <li class="list-group-item list-group-item-action"><a class="text-decoration-none" href="../Assignment1">Read Me</a></li>
                <li class="list-group-item list-group-item-action"><a class="text-decoration-none" href="../quiz/1">Pagination Music Quiz</a></li>
                <li class="list-group-item list-group-item-action"><a class="text-decoration-none" href="../people/1">SASS Demo/Pagination</a></li>
                <li class="list-group-item list-group-item-action"><a class="text-decoration-none" href="../terms">Terms and Conditions</a></li>
                <li class="list-group-item list-group-item-action"><a class="text-decoration-none" href="../about">About Me</a></li>
                <li class="list-group-item list-group-item-action"><a class="text-decoration-none" href="../a1_instructions">Assignment 1 Instructions</a></li>
            </ul>
    </div>

        <div class="col-3">
            <h2 class="mt-4">Lab 1</h2>
        
                
                <ul class="list-group">
                    <li class="list-group-item list-group-item-action"><a class="text-decoration-none" href="../lab1">Lab 1 write up</a></li>
                    <li class="list-group-item list-group-item-action"><a class="text-decoration-none" href="../lab1_instructions">Lab 1 Instructions</a></li>
                </ul>
            </div> 
    
    
    
                
 </div>
<hr>
    
 <div class="row">


    <div class="col-3">
        <h2 class="mt-4">Assignment 2</h2>

        
            <ul class="list-group">
                
            </ul>
    </div>

        <div class="col-3">
            <h2 class="mt-4">Lab 2</h2>
        
                
                <ul class="list-group">
                    
                </ul>
            </div> 
                
 </div>
<hr>
 <div class="row">


    <div class="col-3">
        <h2 class="mt-4">Assignment 3</h2>

        
            <ul class="list-group">
                
            </ul>
    </div>

        <div class="col-3">
            <h2 class="mt-4">Lab 3</h2>
        
                
                <ul class="list-group">
                    
                </ul>
            </div> 
                
 </div>