---
pagination:
  data: people
  size: 10
layout: layouts/default.njk
title: Favourite Colours and City
permalink: "people/{{ pagination.pageNumber + 1 }}.html"
---

<h1> {{ title }} </h1>

<ol>
{%- for people in pagination.items %}
  <li>{{ people.name }}'s Favourite colour is <span style= "background-color:{{people.colour}}">{{ people.colour }} </span>. They live in {{people.city}}. </li>
{% endfor -%}
</ol>



{% include "./_includes/partials/pagination.njk"%}

