---
pagination:
  data: people
  size: 10
layout: layouts/default.njk
title: Favourite Colours and City
permalink: "people/{{ pagination.pageNumber + 1 }}"
---

<h1> {{ title }} </h1>

<ol>
{%- for people in pagination.items %}
  <li>{{ people.name }}'s Favourite colour is <span style= "background-color:{{people.colour}}">{{ people.colour }} </span>. They live in {{people.city}}. </li>
{% endfor -%}
</ol>



<nav aria-labelledby="my-pagination">
  <h2 id="my-pagination">This is my Pagination</h2>
  <ul class="pagination">
    {# Previous page button #}
    {% if pagination.href.previous %}<li class="page-item"><a class="page-link" href="{{ pagination.href.previous }}">Previous</a>{% else %}<li class="page-item disabled"><a class="page-link">Previous</a>{% endif %}</li>

    {# Page number buttons #}
{%- for pageEntry in pagination.pages %}
    {% if page.url == pagination.hrefs[ loop.index0 ] %} 
    <li class="page-item active">
      <a class="page-link" href="{{ pagination.hrefs[ loop.index0 ] }}"
      {% else %} <li class="page-item"> <a class="page-link" href="{{ pagination.hrefs[ loop.index0 ] }}" 
      {% endif %} 
      {% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"
      {% endif %}>
      Page {{ loop.index }}</a></li>
{%- endfor %}

{# Next page button #}
    {% if pagination.href.next %}<li class= "page-item"><a class="page-link" href="{{ pagination.href.next }}">Next</a>{% else %}<a class= "page-link disabled">Next</a>{% endif %}</li>
  </ul>
</nav>

